<header class="photosSlider">
    <div class="photosSlider-container">
        <h1 class="photosSlider-title">
            <strong>Купить</strong> или <strong>продать</strong><br>
            автомобиль &mdash; легко!
        </h1>
        <p class="photosSlider-description">Продай свой автомобиль &mdash; быстро и без лишних забот.</p>

        <p>
            <a href="#" class="photosSlider-button">Продать свой автомобиль</a>
        </p>

        <p class="photosSlider-description">
            В этом месяце более <strong>100 автомобилей</strong><br>
            продали наши частные клиенты
        </p>
    </div>
</header>