<header class="header">
    <div class="header-container">
        <div class="header-logotype">
            <a href="/"><img src="Assets/images/logotype.svg" alt=""></a>
        </div>

        <nav class="header-navigation">
            <ul class="header-navigation__list">
                <li class="header-navigation__item"><a class="header-navigation__link" href="javascript:void();">Завершенные сделки</a></li>
                <li class="header-navigation__item"><a class="header-navigation__link" href="javascript:void();">Стать партнером</a></li>
            </ul>
        </nav>

        <div class="header-navigation__profile">
            <a href="#" class="header-navigation__profile-link">Вход для партнеров</a>
        </div>
    </div>
</header>