arrow-gray-left-dims {
	width: 16.1px;
	height: 29.4px;
}

arrow-gray-right-dims {
	width: 16.1px;
	height: 29.4px;
}

car-payments-dims {
	width: 76.5px;
	height: 100.8px;
}

car-search-dims {
	width: 111.8px;
	height: 82.8px;
}

car-sell-dims {
	width: 115px;
	height: 105.8px;
}

mute-dims {
	width: 42px;
	height: 42px;
}

play-dims {
	width: 40px;
	height: 40px;
}

play-o-dims {
	width: 42px;
	height: 42px;
}

user-dims {
	width: 16.5px;
	height: 15.7px;
}

