$brand-color-primary: #77a800;
$brand-color-default: #ed1c35;
$brand-color-secondary: #868e96;

$brand-color-black: #29303a;

// --------------------------------------------------------------

$ui-font-family: 'Segoe UI, Tahoma';
$ui-font-size: 16px;

// --------------------------------------------------------------

$ui-zindex-dropdown: 3 !default;