$grid-columns: 12; // percent
$grid-gutter-width: 15px;
$container_width: 1170px;

*,
*:after,
*:before {
  box-sizing: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
}

.row.row-no-padding {
  padding: 0;
}

.row.row-no-padding > .column {
  padding: 0;
}

.row.row-wrap {
  flex-wrap: wrap;
}

.row.row-top {
  align-items: flex-start;
}

.row.row-bottom {
  align-items: flex-end;
}

.row.row-center {
  align-items: center;
}

.row.row-stretch {
  align-items: stretch;
}

.row.row-baseline {
  align-items: baseline;
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}



$columns: (
    column-5: 5%,
    column-10: 10%,
    column-15: 15%,
    column-20: 20%,
    column-25: 25%,
    column-30: 30%,
    column-35: 35%,
    column-40: 40%,
    column-45: 45%,
    column-50: 50%,
    column-55: 55%,
    column-60: 60%,
    column-65: 65%,
    column-70: 70%,
    column-75: 75%,
    column-80: 80%,
    column-85: 85%,
    column-90: 90%,
    column-95: 95%,
    column-100: 100%,
);

@each $class, $width in $columns {
    .column {
        &.#{$class} {
            flex: 0 0 $width;
            max-width: $width;
        }

        & .__dev {
            background: #f4f4f4;
            display: block;
            padding: 5px;
            margin: 5px;
            text-align: center;
        }
    }
}


.container {
    margin: 0 auto;
    max-width: $container_width;
    padding: 0 2.0rem;
}

.container-fluid {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}

/*==========  End: Mobile First Method  ==========*/




// /**
//  * @param $width Column width basis [0..1]
//  */
// @for $i from 1 through $grid-columns {
//     .grid-part-#{$i} {
//         box-sizing: border-box;
//         flex: 0 1 ($i / $grid-columns) * 100%;
//         overflow-x: hidden;
//         text-overflow: none;
//         padding-left: 0.7rem;
//         padding-right: 0.7rem;

//         span.__dev {
//             border-radius: 2px;
//             background-color: #f7f7f7;
//             border-radius: 2px;
//             display: block;
//             color: #bbb;
//             text-align: center;
//             margin: 0.7rem 0;
//             padding: 8px;
//         }
//     }

//     .grid-part__padding-zero {
//         padding: 0;
//     }
// }
