.photosSlider {
    background: #f4f4f4 url('../images/header.jpg') no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    color: $brand-color-black;
    min-height: 60vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
    position: relative;

    &-container {
        @extend .container;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-title {
        font-size: 3.7rem;
        line-height: 90%;
        font-family: 'Proxima Nova Lt';
        font-weight: 100;
        margin-bottom: 0;
    }

    &-description {}

    &-button {
        @extend .button, .button__default;
        margin-top: 3rem;
    }

}