<div class="row">
    <div class="column column-10"><span class="__dev">.column-10</span></div>
    <div class="column column-10"><span class="__dev">.column-10</span></div>
    <div class="column column-10"><span class="__dev">.column-10</span></div>
    <div class="column column-10"><span class="__dev">.column-10</span></div>
    <div class="column column-10"><span class="__dev">.column-10</span></div>
    <div class="column column-10"><span class="__dev">.column-10</span></div>
    <div class="column column-10"><span class="__dev">.column-10</span></div>
    <div class="column column-10"><span class="__dev">.column-10</span></div>
    <div class="column column-10"><span class="__dev">.column-10</span></div>
    <div class="column column-10"><span class="__dev">.column-10</span></div>
</div>

<div class="row">
    <div class="column column-20"><span class="__dev">column-20</span></div>
    <div class="column column-20"><span class="__dev">column-20</span></div>
    <div class="column column-20"><span class="__dev">column-20</span></div>
    <div class="column column-20"><span class="__dev">column-20</span></div>
    <div class="column column-20"><span class="__dev">column-20</span></div>
</div>

<div class="row">
    <div class="column column-25"><span class="__dev">column-25</span></div>
    <div class="column column-75"><span class="__dev">column-75</span></div>
</div>